/* Base */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  }

body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', 'Kaushan', Geneva, Verdana, sans-serif;
max-width: 100%;
}
a {
text-decoration: none;
}

h1 {
text-align: center;
font-size: 2rem;
color: #053f8e;    
}

h2 {
text-align: center;
padding: 1.5rem 0;
font-family: Kaushan;
}

h1, h2, h3 {
text-transform: uppercase;
}

ul {
    list-style-type: none;
}

img {    
    display: inline-block;
    margin: auto;  
    object-fit: cover;    
}

p {
    line-height: 1.5rem;
    text-align: justify;
}


   /*Header*/
    /*Contenedor*/
    .header-bue {
        width: 100%;
        height: 80vh;
        position: static;
        
    }    
    .contenedor-bue {
        position: relative;
        width: inherit;
        height: inherit;
        
    }       
    .contenedor-video {
        width: 100%;
        height: 80vh;
    }  
    .barra{
        position:absolute;
        width: inherit;
        top: 0;
    }  
    #buenosAires {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
    .botones-bue {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }    

    /*Botones*/
    button{
        font-size: 2rem ;
    }
    
    button .btn .third {
        font-size: 1.5rem !important;
    }
    
    button a {
        color: white !important;
    }
    
    .btn {
        box-sizing: border-box;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 1rem;
        padding: 1rem 1rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .btn:hover, .btn:focus {
        color: #fff;
        outline: 0;
      }
              
      .third {
        border-color: #3498db;
        color: #fff;
        box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
      }
      .third:hover {
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }
      
/*Main*/  
main {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #f2f2f2; 
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.contenedor-main {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: auto ;   
}

.contenedor-main img {
  max-width: 300px;
  height: 300px;
  border-radius: 10%;
  padding: 0 1rem 0 0;
}

.contenedor-main a:first-of-type {
  margin-left: 1rem;
}

.contenedor-main img:hover {
  filter: sepia(150%);
  transition: all 1s ease-in-out;
}

.contenedor-main::-webkit-scrollbar {
  -webkit-appearance: none;
}
.contenedor-main::-webkit-scrollbar:horizontal {
  height: 10px;
  
}
.contenedor-main::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(52,152,219,1) 0%, rgba(255,255,255,1) 50%, rgba(52,152,219,1) 100%);
  border-radius: 5px;
  border: 2px solid transparent;
}

/*Experiencias*/

.titulo-pro {
  text-transform: uppercase;
  letter-spacing: 2px;
  }
  
.section-contenido {
  max-width: 130rem;
  width: 90%;
  padding: 5rem;
  margin: 0 auto;
  }
  
.imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  }
  
.contenedor-foto {
  position: relative;
  }
  
.galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1pc;
  box-shadow: 0px 0px 10px 2px #58ec52;
  }
  
.titulo {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom-left-radius: 1pc;
  border-bottom-right-radius: 1pc;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  }
  
.contenedor-foto:hover {
  -webkit-transform: scale(1.1);
  transition: transform .9s;
  transform: scale(1.1);
  filter: opacity(.7);
  }
  
  @media (min-width:1200px) {
.imagenes {
      grid-template-columns: 1fr 1fr 1fr;
      }
  }
  
  @media (max-width:1199px) and (min-width:768) {
.imagenes {
      grid-template-columns: 1fr 1fr 1fr;
      }
  }
  
  @media (max-width:767px) and (min-width:500px) {
.imagenes {
      grid-template-columns: 1fr 1fr;
      }
  }
  
  @media (max-width:499px) and (min-width:200px) {
.imagenes {
      grid-template-columns: 1fr;
      }
  }
  /**Main**/
  
  .titulo-exp {
  text-transform: uppercase;
  letter-spacing: 2px;
  }
  
  .container {
  max-width: 130rem;
  width: 90%;
  margin: 0 auto;
  }
  
  .experiencias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 12rem;
  gap: 2rem 3.1rem;
  }
  
  
  @media (min-width:1200px) {
  .experiencias {
      grid-template-columns: 1fr 1fr 1fr;
      }
  }
  
  @media (max-width:1199px) and (min-width:768) {
  .experiencias {
      grid-template-columns: 1fr 1fr 1fr;
      }
  }
  
  @media (max-width:767px) and (min-width:500px) {
  .experiencias {
      grid-template-columns: 1fr 1fr;
  }
  }
  
  @media (max-width:499px) and (min-width:200px) {
  .experiencias {
      grid-template-columns: 1fr;
      }
  }
  /**@media cinco**/
  
  @media (min-width:1200px) {
  .cinco {
      grid-column: 3/4;
      grid-row: 4/6;
      }
  }
  
  @media (max-width:1199px) and (min-width:768px) {
  .cinco {
      grid-column: 3/4;
      grid-row: 4/6;
      }
  }
  
      
  /**@media seis**/
  @media (min-width: 1200px) {
      .seis {
          grid-column: 2/4;
          grid-row: 1/4;
      }
  }
  @media (max-width:1199px) and (min-width:768px) {
      .seis {
          grid-column: 2/4;
          grid-row: 1/4;
      }
  }
  @media (max-width:767px) and (min-width:500px) {
      .seis {
          grid-column: 1/3;
          grid-row: 1/3;
      }
  }
  @media (max-width:499px) and (min-width:200px) {
      .seis {
          grid-row: 1/2;
      }
  }
  /**media siete**/
  @media (min-width:1200px) {
      .siete {
          grid-column: 2/3;
          grid-row: 4/6;
      }
  }
  @media (max-width:1199px) and (min-width:768px) {
      .siete {
          grid-column: 2/3;
          grid-row: 4/6;
      }
  }
  @media (max-width:767px) and (min-width:500px) {
      .siete {
          grid-column: 1/3;
          grid-row: 3/4;
      }
  }
  @media (max-width:499px) and (min-width:200px) {
      .siete {
          grid-row: 2/3;
      }
  }
  
  .galeria-exp {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .5pc;
      box-shadow: 0px 0px 10px 2px #3498db;
  }
  .contenedor-galeria {
      position: relative;
  }
  .destinos {
      position: absolute;
      top: 0%;
      width: 100%;
      color: rgba(250, 249, 249, 0.918);
      -webkit-text-stroke: 0.5px black;
  }
  .contenedor-galeria:hover {
      transform: scale(1.06);
      transition: transform .9s;
      filter: opacity(.7);
  } 
  

/*Footer*/
footer {
  margin-top: 2rem;
  padding: 1rem 0;
  width: 100%;
  background: #3498db;
}

.contenedor-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

ul {
  padding: 1rem;
  list-style-type: none;
  margin-top: 0;
}

.contenedor-footer h3 {
  font-size: .75rem;
  color: whitesmoke;
  margin-bottom: 0;
}

.fas {
  font-size: 2.5rem;
  color: whitesmoke;
}

.fab {
  font-size: 2rem;
  color: whitesmoke;
}
.rrss {
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

@media (max-width: 425px) {
  .contenedor-footer {
      padding: 0;
  }
}
@media (max-width: 375px) {
  .rrss {
      flex-direction: column;
      align-items: center;
  }
}